---
import { Vote, SquareArrowOutUpRight } from "@lucide/astro";
import type { iRecomendacion } from "../../lib/interfaces/recomendacion";
import { actions } from "astro:actions";
interface Props {
  recomendacion: iRecomendacion;
}
const { recomendacion } = Astro.props;
---

<article class="border border-neutral-300 p-5">
  <div class="flex flex-col gap-5">
    <span
      class="category border border-neutral-300 bg-neutral-200 size-fit rounded-2xl px-2 py-1 font-medium"
      >{recomendacion.categoria}</span
    >
    <h2
      class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold font-primary"
    >
      {recomendacion.nombre}
    </h2>
    <p class="font-medium">{recomendacion.comentario}</p>
    <div class="flex flex-row
     justify-between">
      <a
        target="_blank"
        title="Visitar"
        href={recomendacion.url}
        class="bg-neutral-200 px-2 py-1 rounded-2xl flex flex-row gap-2 items-center"
        ><SquareArrowOutUpRight size={14} /></a
      >
      <form
        method="post"
        action={actions.recomendaciones.actualizarVotos}
        class="self-end"
      >
        <input type="hidden" name="id" value={recomendacion.id} />
        <button
          title="Votar"
          type="submit"
          class="flex flex-row items-center gap-2
        hover:cursor-pointer outline outline-neutral-300 rounded-full px-2 py-1
        hover:outline-black"
        >
          <Vote size={18} />
          <span class="font-extrabold">{recomendacion.votos}</span>
        </button>
      </form>
    </div>
  </div>
</article>
<style is:inline>
  .category {
    text-transform: capitalize;
  }
</style>
