---
import projects from "../../data/projects.json";
import BaseLayout from "../../layouts/baseLayout.astro";

export const prerender = true;
export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { startup: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<BaseLayout>
  <div class="flex flex-col gap-10 font-secondary">
    <a
      href="/startup"
      class="group flex flex-row gap-1 items-center flex-wrap w-fit px-4 py-1 rounded-2xl hover:outline hover:outline-neutral-300 hover:bg-white bg-neutral-200 text-black"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-6 group-hover:-translate-x-2 transition-transform duration-100 ease-in"
        viewBox="0 0 24 24"
        ><path
          fill="#000"
          d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64"
        ></path></svg
      ><span>Volver atrás.</span></a
    >
    <section class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <img
        src={"/images/projects/" + project.slug + ".png"}
        +
        alt={project.title}
        class="col-span-full md:col-span-2 size-full outline-4 outline-neutral-300"
      />
      <div class="flex flex-col gap-5">
        <h1
          class="mt-12 text-4xl lg:text-5xl xl:text-6xl font-black font-primary"
        >
          {project.title}
        </h1>

        <div class="flex flex-row flex-wrap gap-2 items-center">
          {
            project.technologies.map((tech) => (
              <span class="px-4 py-2 font-bold rounded-xl outline outline-neutral-300 bg-neutral-100 text-black text-sm ">
                {tech}
              </span>
            ))
          }
        </div>

        <a
          href={project.url}
          target="_blank"
          class="w-fit flex flex-row gap-2 items-center px-4 py-2 font-semibold rounded-2xl hover:outline hover:outline-neutral-300 hover:bg-white bg-neutral-200 text-black"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6"
            viewBox="0 0 24 24"
            ><g fill="#000"
              ><path
                d="M14.372 3.58c1.708-1.709 4.465-1.799 6.156-.108s1.601 4.448-.107 6.156l-3.902 3.902a.75.75 0 1 1-1.06-1.06l3.901-3.902c1.165-1.165 1.171-2.971.107-4.035c-1.063-1.064-2.87-1.058-4.035.107L11.53 8.542a.75.75 0 0 1-1.06-1.06zm1.158 4.89a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06-1.06l6-6a.75.75 0 0 1 1.06 0"
              ></path><path
                d="M8.555 11.531a.75.75 0 0 0-1.06-1.062L3.604 14.35c-1.703 1.698-1.862 4.296-.12 6.118c1.783 1.863 4.477 1.578 6.154-.094l3.892-3.881a.75.75 0 1 0-1.06-1.062L8.58 19.31c-1.189 1.186-2.908 1.272-4.01.12a3 3 0 0 1-.191-.217c-.939-1.172-.81-2.71.285-3.802z"
              ></path></g
            ></svg
          ><span>Visitar.</span></a
        >
      </div>
    </section>
    <section class="flex flex-col gap-5">
      <p class="text-2xl font-semibold">
        {project.description.overview}
      </p>

      <div class="grid grid-cols-1 gap-5">
        <article
          class="bg-white border border-neutral-300 shadow-md rounded-2xl p-6"
        >
          <p>{project.description.rule_1}</p>
        </article>

        <article
          class="bg-white border border-neutral-300 shadow-md rounded-2xl p-6"
        >
          <p>{project.description.rule_2}</p>
        </article>

        <article
          class="bg-white border border-neutral-300 shadow-md rounded-2xl p-6"
        >
          <p>{project.description.rule_3}</p>
        </article>
        {
          project.description.rule_4 && (
            <article class="bg-white border border-neutral-300 shadow-md rounded-2xl p-6">
              <p>{project.description.rule_4}</p>
            </article>
          )
        }

        <article
          class="bg-white border border-neutral-300 shadow-md rounded-2xl p-6"
        >
          <p>{project.description.rule_5}</p>
        </article>

        <article class="text-center p-6">
          <p class="text-2xl font-medium">{project.description.rule_6}</p>
        </article>
      </div>
    </section>
  </div>
</BaseLayout>
