---
import { Undo2, SquareArrowOutUpRight } from "@lucide/astro";
import projects from "../../data/projects.json";
import BaseLayout from "../../layouts/baseLayout.astro";

export const prerender = true;
export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { startup: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<BaseLayout>
  <div class="py-44 px-5 sm:px-12 xl:px-0 flex flex-col gap-10 font-secondary">
    <a
      href="/startup"
      class="group flex flex-row gap-1 items-center flex-wrap w-fit px-4 py-1 rounded-2xl hover:outline hover:outline-neutral-300 hover:bg-white bg-neutral-200 text-black"
      ><Undo2 size={14} /><span>Volver atrás.</span></a
    >
    <section class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <img
        src={"/images/projects/" + project.slug + ".png"}
        +
        alt={project.title}
        class="col-span-full md:col-span-2 size-full outline-4 outline-neutral-300"
      />
      <div class="flex flex-col gap-5">
        <h1
          class="mt-12 text-4xl lg:text-5xl xl:text-6xl font-black font-primary"
        >
          {project.title}
        </h1>

        <div class="flex flex-row flex-wrap gap-2 items-center">
          {
            project.technologies.map((tech) => (
              <span class="px-4 py-2 font-bold  text-sm ">{tech}</span>
            ))
          }
        </div>

        <a
          href={project.url}
          target="_blank"
          class="w-fit flex flex-row gap-2 items-center px-4 py-2 font-semibold rounded-2xl hover:outline hover:outline-neutral-300 hover:bg-white bg-neutral-200 text-black"
          ><SquareArrowOutUpRight size={14} /><span>Visitar.</span></a
        >
      </div>
    </section>
    <section class="flex flex-col gap-5">
      <p class="text-2xl font-semibold">
        {project.description.overview}
      </p>

      <div class="grid grid-cols-1 gap-5">
        <article class="bg-white border border-neutral-300 p-6">
          <p>{project.description.rule_1}</p>
        </article>

        <article class="bg-white border border-neutral-300 l p-6">
          <p>{project.description.rule_2}</p>
        </article>

        <article class="bg-white border border-neutral-300 l p-6">
          <p>{project.description.rule_3}</p>
        </article>
        {
          project.description.rule_4 && (
            <article class="bg-white border border-neutral-300  p-6">
              <p>{project.description.rule_4}</p>
            </article>
          )
        }

        <article class="bg-white border border-neutral-300 p-6">
          <p>{project.description.rule_5}</p>
        </article>

        <article class="text-center p-6">
          <p class="text-2xl font-medium">{project.description.rule_6}</p>
        </article>
      </div>
    </section>
  </div>
</BaseLayout>
