---
import { Expand, Minimize } from "@lucide/astro";
import type { iExperience } from "../../lib/interfaces/experience";

interface Props {
  experience: iExperience;
}
const { experience } = Astro.props;
---

<article class="bg-neutral-50 flex flex-col relative font-secondary">
  <input type="checkbox" id={`toggle-${experience.slug}`} class="peer hidden" />
  <label
    for={`toggle-${experience.slug}`}
    class="p-10 flex flex-row flex-wrap gap-5 sm:justify-between cursor-pointer border border-neutral-300 bg-neutral-200 hover:bg-white"
  >
    <div
      class="sm:absolute inset-0 -inset-y-4 inset-x-12 flex flex-row gap-2 flex-wrap-reverse md:w-72 text-black text-sm lg:text-base h-fit"
    >
      <span
        class="px-2 py-1 bg-neutral-100 outline outline-neutral-300 text-base font-light"
      >
        {experience.startDate}
      </span>
      <span
        class="px-2 py-1 bg-neutral-100 outline outline-neutral-300 text-base font-light"
      >
        {experience.duration}
      </span>
    </div>
    <div
      class="flex flex-row flex-wrap justify-center sm:flex-nowrap sm:justify-baseline gap-5 w-full sm:w-auto h-fit"
    >
      <h3
        class="font-black text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl"
      >
        {experience.position}
      </h3>
    </div>
  </label>
  <Expand
    class="absolute block inset-x-[90%] md:inset-x-[95%] inset-y-12 peer-checked:hidden"
    size={26}
  />
  <Minimize
    class="absolute hidden inset-x-[90%] md:inset-x-[95%] inset-y-12 peer-checked:block"
    size={26}
  />

  <section
    class="hidden border border-t-0 border-neutral-300 content p-5 flex-col gap-5 peer-checked:max-h-[1000px] peer-checked:flex"
  >
    <span
      class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl"
    >
      {experience.company}
    </span>
    <p class="font-light leading-7">{experience.descriptionJob}</p>
    <div class="flex flex-row flex-wrap gap-2 items-center">
      {
        experience.technologies.map((t) => (
          <span class="px-2 py-1 font-medium">{t}</span>
        ))
      }
    </div>
  </section>
</article>
